<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrapIcons/bootstrap-icons.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/index.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/header.css" type="text/css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <title>admin.myEcommerce.com</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="/assets/images/logo.png" alt="logo" />
        </a>
        <nav>
            <form>
                <input 
                    type="text"  
                    name="search" 
                    id="search"
                    placeholder="search for products, brands and categories ..."
                />
                <button type="submit">
                    <i class="bi-search"></i>
                </button>
            </form>
            <div class="nav-div">
                <div class="account-link">

                    <div>
                        <span><i class="bi-person"></i></span>
                        <span>Account</span>
                        <span><i class="bi-chevron-down"></i></span>
                    </div>

                    <div class="dropdown">
                        <a href="">
                            <i class="bi-box-arrow-in-right"></i>
                            <span>Sign In</span>
                        </a>
                        <a href="">
                            <i class="bi-person"></i>
                            <span>My Account</span>
                        </a>
                        <a href="">
                            <i class="bi-gift"></i>
                            <span>Order</span>
                        </a>
                        <a href="">
                            <i class="bi-heart"></i>
                            <span>Saved Items</span>
                        </a>
                    </div>
                    
                </div>
                <div class="help-link">
                    <div>
                        <span><i class="bi-question-circle"></i></span>
                        <span>Help</span>
                        <span><i class="bi-chevron-down"></i></span>
                    </div>
                    <div class="dropdown">
                        <a href="">
                            <i class="bi-question-circle"></i>
                            <span>FAQs</span>
                        </a>
                        <a href="">
                            <i class="bi-telephone"></i>
                            <span>Contact Us</span>
                        </a>
                        <a href="">
                            <i class="bi-geo-alt"></i>
                            <span>Track My Order</span>
                        </a>
                    </div>
                </div>
                <a>
                    <span><i class="bi-cart3"></i></span>
                    <span>Cart</span>
                </a>
            </div>
        </nav>
    </header>
    
</body>
</html>