<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrapIcons/bootstrap-icons.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/index.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/header.css" type="text/css">
 
    <title>admin.myEcommerce.com</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="/assets/images/logo.png" alt="logo" />
        </a>
        <nav>
            <div>
                <span>
                    <i class="bi-bell"></i>
                </span>
            </div>
            <div>
                <span class="date"></span>
            </div>
        </nav>
    </header>
    <script src="/assets/js/header.js"></script>
</body>
</html>