:root{
    --site-pink:#ed017f;
    --orange-color:#fba100;
    --white-color:#fff;
}
header{
    padding: 15px 5vw;
    background-color: var(--site-pink);
    display: flex;
    width: 100%;
    position: sticky;
    top:0;
    left:0;
    z-index: 10;
}
header > a{
    width: 150px;

}
header > a > img{
    width: 120px;
    object-fit: contain;

}
nav{
    flex:1;
    gap:20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:var(--white-color);
}
